
%table.white
  %tr
    %th
      %font
        date
    %th
      %font
        rendez-vous
    %th
      %font
        ⌚ départ
    %th
      %font
        ⌚ sur place
    %th
      %font
        ⌚ début
    %th
      %font
        ⌚ fin
    %th
      %font
        ⌛ durée
  %tr
    %td
      %font
        ⤷
        = @service.starts_at.to_s(:cust_jdate)
    %td
      %font
        ⤷
        = @service.rendezvous
    %td
      %font
        ⤷
        = @service.relative_depart_at
    %td
      %font
        ⤷
        = @service.relative_surplace_at
    %td
      %font
        ⤷
        = @service.starts_at.to_s(:cust_time)
    %td
      %font
        ⤷
        = @service.relative_ends_at
    %td
      %font
        ⤷
        = @service.durée_to_human_readable

%hr{:style => "height: 4px; padding: 0; margin: 0; border: none"}

%table.white
  %tr
    %th
      %font
        volos ness
    %th
      %font
        subsistance
    %th
      %font
        assuré par
  %tr
    %td
      %font
        ⤷
        =# @service.volness
        = render "services/volness_inline_pictures"
    %td
      %font
        ⤷
        = render "services/subs_inline_pictures"
    %td
      %font
        ⤷
        = @service.crentite
