%table
  %tr
    %th Qty
    %th Name
    %th Entité
    - if params[:mode] == 'edit'
      %th
  - @disposers.each do |disposer|
    %tr
      %td{:align => :right}
        = disposer.quantity
        &times;
      %td
        = disposer.dispositif.name
      %td
        - if (disposer.crentite)
          = disposer.crentite.name
      - if params[:mode] == 'edit'
        %td= link_to 'edit', event_service_dispositifs_path(params[:event_id], params[:service_id], :disposer_id => disposer.id, :mode => 'edit')
        %td= link_to 'remove', { :controller => :disposers, :action => :destroy, :id => disposer.id }, :method => :delete
