.dl_deux_colonnes_base
  %dl
    %dt t4 :
    %dd= @service.stats_t4
  %dl
    %dt t3 :
    %dd= @service.stats_t3
  %dl
    %dt t2 :
    %dd= @service.stats_t2
  %dl
    %dt t1 :
    %dd= @service.stats_t1
  %dl
    %dt ambu :
    %dd= @service.stats_ambu
  %dl
    %dt pit :
    %dd= @service.stats_pit
  %dl
    %dt smur :
    %dd= @service.stats_smur
  %dl
    %dt dcd :
    %dd= @service.stats_dcd
