
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'overview'

  .section
    .info
      - @disposers = @service.disposers.all
      = render "disposers/list_dispositifs"
    .info
      = render "servolos/graph_volos", :service_id => @service.id