
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'overview'

  .section
    %h4 Data
    = render "data"
    %hr
    %h4 Dispositif
    = render "disposers/list"
    %hr
    %h4 Personnel
    = render "servolos/graph"
    %hr
    %h4 Facturation
    = render "seritems/table"
    %hr