
= render "events/list"

.main
  = render "events/header", :selected_item => "services"
  = render "services/header", :selected_item => "show"

  .section
    = render "data"
  
    %hr.intrasection_top_liens
  
    .liens_intrasection
      = link_to "⇇ back", event_service_overview_path(@event, @service)
      |
      = link_to "⊚ edit", edit_event_service_path(@event, @service)
      |
      = link_to "⊗ delete", { :action => :destroy, :id => @service.id }, :method => :delete
     
    %hr.intrasection_bottom_liens