
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'show'

  .section
    = render "data"
  
    %hr.intrasection
  
  .lien_bas_de_page
    ➤
    = link_to "Edit", edit_event_service_path(@event, @service)
    |
    = link_to "Destroy", { :action => :destroy, :id => @service.id }, :method => :delete
    |
    = link_to "Back", event_service_overview_path(@event, @service)