.menu
  %ul

    %li    
      - active = selected_item == 'customers' ? :active : nil
      = link_to 'Clients', customers_path, :class => active

    %li
      - active = selected_item == 'dispositifs' ? :active : nil
      = link_to "Dispositifs", dispositifs_path, :class => active

    %li
      - active = selected_item == 'templitems' ? :active : nil
      = link_to 'Éléments facturables', templitems_path, :class => active
      
    %li
      - active = selected_item == 'crentites' ? :active : nil
      = link_to 'Entités CR', crentites_path, :class => active
      
    %li
      - active = selected_item == 'montants' ? :active : nil
      = link_to 'Montants', montants_path, :class => active
