
= render "events/list"

.main
  = render "events/header", :selected_item => "refacs"

  .section
    
    - unless params[:mode] == "edit"
      = render "table"
      %hr.intrasection_top_liens
      .liens_intrasection
        = link_to "⇇ back", event_overview_path(@event)
        |
        = link_to "⚙ manage", event_refacs_path(:mode => "edit")
      %hr.intrasection_bottom_liens
      
    - else

      = render "table"
      %hr.intrasection
      = render "form"
      %hr.intrasection_top_liens
      .liens_intrasection
        = link_to "⇇ back", event_refacs_path
        - if params[:refac_id].present?
          |
          = link_to "✯ new", event_refacs_path(:mode => 'edit') 
      %hr.intrasection_bottom_liens