:ruby
  c_id = params[:customer_id]
  if c_id.present?
    cust_data = Customer.find(c_id).data
  end
  
  
.dl_deux_colonnes_base
  %dl
    %dt Client :
    %dd
      %form{ :method => :get }
        %select{ :name => :customer_id }
          %option{ :value => '' }
          = Customer.all.each do |cust|
            - selected = ( ( c_id.present? && cust.id.to_s == params[:customer_id]) ? 'selected' : nil )
            %option{ :value => cust.id, :selected => selected }
              = cust.data.lines.first
        %input{ :type => :hidden, :name => 'mode', :value => 'edit' }
        %input{ :type => :submit, :value => 'Use' }

  = simple_form_for @invoice do |f|
    %dl
      %dt Numéro :
      %dd
        = f.input :number, :input_html => { :size => 8 }, :label => false
    %dl
      %dt Client :
      %dd
        = f.input :customer_data, :input_html => { :rows => 3, :cols => 40, :value => cust_data}, :label => false
    %dl
      %dt Envoyée le :
      %dd
        = f.input :sent_at, :start_year => 2010, :end_year => Date.today.year+1, :include_blank => true, :label => false
    %dl
      %dt 1e rappel le :
      %dd
        = f.input :rappel1_at, :start_year => 2010, :end_year => Date.today.year+1, :include_blank => true, :label => false
    %dl
      %dt 2e rappel le :
      %dd
        = f.input :rappel2_at, :start_year => 2010, :end_year => Date.today.year+1, :include_blank => true, :label => false
    %dl
      %dt 3e rappel le :
      %dd
        = f.input :rappel3_at, :start_year => 2010, :end_year => Date.today.year+1, :include_blank => true, :label => false
    %dl
      %dt Payée le :
      %dd
        = f.input :paid_at, :start_year => 2010, :end_year => Date.today.year+1, :include_blank => true, :label => false
    %dl
      %dt
      %dd
        = f.button :submit
