- unless @invoice.events.count == 0

  %table.ligne
    %tr
      %th Nom
      %th Catégorie
      %th # services
      - @invoice.events.each do |event|
        %tr
          %td= event.name
          %td= event.category.short_name
          %td= event.services.count
          - if params[:mode] == 'edit'
            %td.manage_link{:title => "remove"}
              = link_to "⊖", :controller => :events, :action => :remove_from_invoice, :id => event.id
          - else
            %td.manage_link{:title => "show"}
              = link_to "⊙", event_overview_path(event)
                
- else
  %i ─ aucun événement ─