.menu
  %ul
    %li
      = link_to "☰", invoices_path
      
    %li
      - active = selected_item == 'overview' ? :active : nil
      = link_to "Facture ", invoice_overview_path(@invoice.id), :class => active
      
    %li
      - active = selected_item == 'show' ? :active : nil
      = link_to "Général", invoice_path(@invoice.id), :class => active
      
    %li
      - active = selected_item == 'events' ? :active : nil
      = link_to "Événements (#{@invoice.events.count})", invoice_events_path(@invoice.id), :class => active
      
    %li
      - active = selected_item == 'nositems' ? :active : nil
      = link_to "Facturation (#{@invoice.nositems.count})", invoice_nositems_path(@invoice.id), :class => active