= render "invoices/list"

.main

  = render "invoices/header", :selected_item => "overview"

  .section
    = render "/table_titre_intrasection", :params => {:titre => "Général"}
    = render "data"

    = render "/table_titre_intrasection", :params => {:titre => "Events"}
    = render "list_events_services", :locals => { :invoice => @invoice }