= simple_form_for ( @disposer ||= Disposer.new ) do |f|
  = f.association :dispositif, :collection => Dispositif.all, :input_html => { :size => 8 }, :include_blank => false
  = f.input :quantity, :input_html => {:size => 2}
  = f.input :service_id, :input_html => { :value => params[:service_id] }, :as => :hidden
  = f.association :crentite, :collection => Crentite.all
  = f.submit

= link_to 'Clear', event_service_dispositifs_path(:mode => 'edit')

=# page service_dispositifs
