
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'disposers'

  .section
    = render 'disposers/list'
    %hr.intrasection_light
    = render 'disposers/inline_pictures', :params => { :icon_size => 4 }

    
    - if params[:mode] == 'edit'
      %hr.intrasection
      = render 'disposers/form'
      %hr.intrasection_top_liens
    - else
      %hr.intrasection_top_liens

  
    .liens_intrasection
      - unless params[:mode] == 'edit'
      = link_to '⇇ back', event_service_overview_path(@event, @service)
      |
      = link_to '⚙ manage', event_service_disposers_path(:mode =>'edit')
      - else
        = link_to '⇇ back', event_service_disposers_path
          - if params[:seritem_id].present?
          |
          = link_to '✯ new (clear)', event_service_disposers_path(:mode => 'edit')
                  
    %hr.intrasection_bottom_liens