#encoding: utf-8
.main

  .section

    %table.base_with_href
      %tr{:style => "vertical-align: top"}
        %td{:style => "width: 50%"}
          = render "/table_titre_intrasection", :params => { :titre => "Services à venir" }
          %ul.empty
            - Service.only_future.each do |service|
              %li
                = link_to service.event.name + " - " + service.to_s,        |
                  event_service_overview_path(service.event.id, service.id) |
                %ul.empty
                  %li
                    Volontaire nécessaires :
                    = service.how_many_volos_still_needed
                  %li
                    Status :
                    = service.status
          = render "/table_titre_intrasection", :params => { :titre => "Zone test" }
          Année en cours :
          = Date.today.year
          %br
          Last service year :
          = event_last_year()
          %br
          Last invoice year :
          = invoice_last_year()
          %br
          - e = Event.find(36)
          - s = Service.find(86)
          = e.name
          \::
          = s.to_s
          %br
          e.is_finished =
          = e.is_finished
          %br
          e.is_complet =
          = e.is_complet
          %br
          s.is_complet =
          = s.is_complet
          %br
          s.how_many_volos_still_needed =
          = s.how_many_volos_still_needed
          %br
          e.how_many_volos_still_needed =
          = e.how_many_volos_still_needed
          
        %td
          = render "/table_titre_intrasection", :params => { :titre => "Événements à facturer" }
          %ul.empty
            - Service.only_past.group(:event_id).only_not_invoiced.each do |service|
              %li
                = link_to ( service.event.name + " - " + to_euro(service.event.calcul_prix_included) ), |
                  event_overview_path(service.event.id)                                                           |
          = render "/table_titre_intrasection", :params => { :titre => "Factures à envoyer" }
          %ul.empty
            - Invoice.only_not_sent.each do |invoice|
              %li
                = invoice.to_s

          = render "/table_titre_intrasection", :params => { :titre => "Factures en attente de paiement" }
          %ul.empty
            - Invoice.only_sent_not_paid.each do |invoice|
              %li
                = invoice.to_s
                
    = render "/table_titre_intrasection", :params => { :titre => "Zone test" }
    %table{:style => "font-size: xx-small;"}
      - s.generate_table_heures_horaires_servolos.each do |ligne|
        %tr
          - ligne.each do |bloc|
            %td{:style => "white-space: nowrap"}
              = bloc
      %tr
        - s.generate_ligne_totaux_servolos.each do |bloc|
          %td{:style => "border-collapse: collapse; color: red"}
            = bloc
    = render "/table_titre_intrasection", :params => { :titre => "Horloge" }
    %table
      %tr
        %td
          = render "/horloge/horloge", :params => { :heures => 12, :minutes => 30, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 1, :minutes => 40, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 2, :minutes => 50, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 14, :minutes => 0, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 4, :minutes => 15, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 5, :minutes => 25, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 16, :minutes => 35, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 7, :minutes => 45, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 8, :minutes => 55, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 9, :minutes => 60, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 10, :minutes => 10, :size => 2 }
        %td
          = render "/horloge/horloge", :params => { :heures => 11, :minutes => 20, :size => 2 }
            
        
      
