.dl_deux_colonnes_base
  %dl
    %dt Catégorie :
    %dd= @event.category.name
  %dl
    %dt Référence :
    %dd= @event.ref
  %dl
    %dt Nom :
    %dd= @event.name
  %dl
    %dt Lieu :
    %dd= @event.place
  %dl
    %dt Adresse :
    %dd
      - if @event.address
        - @event.address.lines.each do |line|
          = line
          %br
  %dl
    %dt Client :
    %dd
      - if @event.customer
        - @event.customer.data.lines.each do |line|
          = line
          %br
        = link_to "show", customer_path(@event.customer.id)
  %dl
    %dt Gratuit ? :
    %dd= ( @event.is_free==true ? "oui" : ( @event.is_free==false ? "non" : "non-défini" ) )
  -# TODO : non-défini non utilisé
