:ruby

  if controller_name == 'events'
    event_id = params[:id].to_i
  else
    event_id = params[:event_id].to_i
  end

  if controller_name == 'services'
    service_id = params[:id].to_i
  else
    service_id = params[:service_id].to_i
  end


  if (params[:tri_sens].present?)
    session[:tri_sens] = params[:tri_sens]
  end

  if (params[:tri_type].present?)
    session[:tri_type] = params[:tri_type]
  end

  if (params[:tri_annee].present?)
    session[:tri_annee] = params[:tri_annee]
  end


  liste_sens = []
  liste_sens << { :value => '1', :name => 'croissant' }
  liste_sens << { :value => '2', :name => 'décroissant' }
  liste_sens << { :value => '3', :name => 'alphabétique' }

  liste_type = []
  liste_type << { :value => '1', :name => 'all' }
  liste_type << { :value => '2', :name => 'à venir' }
  liste_type << { :value => '3', :name => 'à facturer' }
  
  liste_cat = []
  liste_cat << { :value => '1', :name => 'APS' }

  liste_annee = []
  liste_annee << { :value => 'all', :name => 'toutes' }
  liste_annee << { :value => '2010', :name => '2010' }
  liste_annee << { :value => '2011', :name => '2011' }
  liste_annee << { :value => '2012', :name => '2012' }
 
 
.menu_gauche

  %form{:action => '', :method => :get}
    Sens : 
    %select{:name => 'tri_sens'}
      = liste_sens.each do |item|
        -  selected = ( item[:value] == session[:tri_sens] ? 'selected' : nil )
        %option{ :value => item[:value], :selected => selected }= item[:name]
    %br/
    Année : 
    %select{:name => 'tri_annee'}
      = liste_annee.each do |item|
        - selected = ( item[:value] == session[:tri_annee] ? 'selected' : nil )
        %option{ :value => item[:value], :selected => selected }= item[:name]
    %br/
    Type : 
    %select{:name => 'tri_type'}
      = liste_type.each do |item|
        - selected = ( item[:value] == session[:tri_type] ? 'selected' : nil )
        %option{ :value => item[:value], :selected => selected }= item[:name]
    %br/
    Catégorie : 
    %select{:name => 'tri_cat'}
      = liste_cat.each do |item|
        - selected = ( item[:value] == session[:tri_cat] ? 'selected' : nil )
        %option{ :value => item[:value], :selected => selected }= item[:name]
    %input{:type => :submit}

  - if session[:tri_sens] == '3'
    = render "events/list_mode1", :event_id => event_id, :service_id => service_id
  - else
    = render "events/list_mode2", :event_id => event_id, :service_id => service_id