<% last_event_id = nil %>

<ul>
  <li>
    &nbsp
    <%= link_to '✯ nouvel événement', new_event_path %>
  <% if ( params[:id].present? || params[:event_id].present? ) %>
    &nbsp&nbsp&nbsp&nbsp
    <%= link_to '✯ nouveau service', new_event_service_path(@event) %>
  </li>
  <% end %>
  <hr/>
    <ul>
      <% services.each do |service| %>
        <% if service.event.id == last_event_id %>
          <li><%= link_to service.to_s, event_service_overview_path(service.event.id, service.id), :class => (service_id == service.id ? :active : nil) %></li>
        <% else %>
            </ul>
            <li>
              <b><%= link_to service.event.category.short_name + " - " + service.event.name, event_overview_path(service.event_id), :class => (event_id == service.event.id ? :active_light : nil) %></b>
                <ul>
                  <li><%= link_to service.to_s, event_service_overview_path(service.event.id, service.id), :class => (service_id == service.id ? :active : nil) %></li>
        <% end %>
        <% last_event_id = service.event.id %>
      <% end %>
    </ul>
  </li>
</ul>
