.menu
  %ul

    %li
      - active = selected_item == 'overview' ? :active : nil
      = link_to 'Event', event_overview_path(@event), :class => active

    %li    
      - active = selected_item == 'show' ? :active : nil
      = link_to 'Data', event_path(@event), :class => active
    
    %li
      - active = selected_item == 'evitems' ? :active : nil
      = link_to "Invoiced event items(#{@event.evitems.count})", event_evitems_path(@event), :class => active

    %li
      - active = selected_item == 'fullitem' ? :active : nil
      = link_to "All invoiced items", event_fullitem_path(@event), :class => active

    %li
      - active = selected_item == 'refacs' ? :active : nil
      = link_to "Refacturation", event_refacs_path(@event), :class => active

    -#
      %li.font_icon{:title => "New event"}
      - active = selected_item == 'new' ? :active : nil
      = link_to "+", new_event_path, :class => active