- table = generate_table_fullitems_event(@event.id)

%table.fulloptions{:style => "border: 1px solid black"}
  %tr
    %th{:colspan => 3} Dénomination
    %th Quantité
    %th P/U
    %th Montant
  - table.each do |ligne|
    %tr
      - case ligne[0]
      - when "2service"
        %td
        %td{:colspan => 2}
          %i= ligne[1]
      - when "3seritem"
        %td
        %td
        %td= ligne[1]
        %td.mono_droite= ligne[2]
        %td.mono_droite= ligne[3]
        %td.mono_droite= ligne[4]
      - when "1evitem"
        %td
        %td{:colspan => 2}= ligne[1]
        %td.mono_droite= ligne[2]
        %td.mono_droite= ligne[3]
        %td.mono_droite= ligne[4]
      - when "2sstot_service"
        %td
        %td{:colspan => 2}
          %i Sous-total
        %td
        %td
        %td.mono_droite
          %i= ligne[1]
      - when "1sstot_services"
        %td{:colspan => 3}= "Sous-total #{ligne[1]}"
        %td
        %td
        %td.mono_droite= ligne[2]
      - when "1total"
        %th{:colspan => 3} Total général
        %th
        %th
        %th.mono_droite= ligne[1] 
