= render 'events/list'

.main
  = render 'header', :selected_item => 'fullitem'

  .section
    = render "/table_titre_intrasection", :params => {:titre => "Facturation de l'événement"}
    = render "events/table_fullitems_event", :locals => { :event => @event }

    = render "/table_titre_intrasection", :params => {:titre => "Refacturation"}
    = render "refacs/table"