= render 'events/list'

.main
  = render 'events/header', :selected_item => 'overview'
  
  .section
    %dl
      %dt Invoice :
      %dd
        - if @event.invoice
          = @event.invoice.number
        - else
          %i not invoiced
    %dl
      %dt Price :
      %dd= to_euro(event_calcul_prix_total(@event.id))
        

  .section
    - @event.services.order(:starts_at).each do |service|
      .info
        %h6
          = service.to_s
          ‧
        %h6{ :style => "color: black; font-weight: normal" }
          = temp = service.disposers_to_inline
          - if temp.blank?
            %i aucun dispositif
        = render "servolos/graph_volos", :service_id => service.id      
      
