
= render 'events/list'

.main
  = render 'header', :selected_item => 'show'

  .section
    = render 'data'
    %hr.intrasection_top_liens

    .liens_intrasection
      = link_to '⊚ edit', edit_event_path
      |
      = link_to '⊗ delete', { :action => :destroy, :id => @event.id }, :method => :delete
      |
      = link_to '⬇ devis', event_path(@event, :pdf)

    %hr.intrasection_bottom_liens
