
= render 'events/list'

.main
  = render 'header', :selected_item => 'show'

  .section
    = render "data"

  .lien_bas_de_page
    ‣
    = link_to "Edit", edit_event_path
    |
    = link_to "Destroy", { :action => :destroy, :id => @event.id }, :method => :delete