
= render 'events/list'

.main
  = render 'header', :selected_item => 'show'

  .section
    %h4
      %hr
        Général
      %hr
    %dl
      %dt Catégorie :
      %dd= @event.category.name
    %dl
      %dt Nom :
      %dd= @event.name
    %dl
      %dt Client :
      %dd
        - if @event.customer != nil
          - @event.customer.data.lines.each do |line|
            = line
            %br
        - else
          %i no client
    %h4
      %hr
        Suivi
      %hr

  .lien_bas_de_page
    = link_to "> Edit", edit_event_path
    |
    = link_to "> Destroy", { :action => :destroy, :id => @event.id }, :method => :delete