
= render 'events/list'

.main
  = render 'header', :selected_item => 'show'

  .section
    = render "data"
    %hr.intrasection

  .lien_bas_de_page
    ➤
    = link_to "Devis", event_path(@event, :pdf)
    %font{:style => "font-family: HeydingsIconsRegular"} D
    |
    = link_to "Edit", edit_event_path
    |
    = link_to "Destroy", { :action => :destroy, :id => @event.id }, :method => :delete
    |
    = link_to "Back", event_overview_path(@event)