
.main
  = render "tools/header", :selected_item => "crentites"
  
  .section
    .dl_deux_colonnes_base
      %dl
        %dt Nom :
        %dd= @crentite.name
      %dl
        %dt Numéro
        %dd= @crentite.number
 
    %hr.intrasection_top_liens
   
    .liens_intrasection
      = link_to "⇇ back", crentites_path
      |
      = link_to "⊚ edit", edit_crentite_path(@crentite.id)
      |
      = link_to "⊗ delete", crentite_path(@crentite.id), :method => :delete
            
    %hr.intrasection_bottom_liens
 