= simple_form_for ([@invoice, @nositem ||= Nositem.new]) do |f|
  .dl_form
    %dl
      %dt Dénomination :
      %dd
        = f.input :name, :label => false, :input_html => {:size => 40}
    %dl
      %dt Quantité :
      %dd
        = f.input :qty, :label => false, :input_html => {:size => 4} 
    %dl
      %dt Type :
      %dd
        = f.input :kind,
          :as => :radio,
          :collection => [['€', 1], ['%', 2]],
          :label_method => :first,
          :value_method => :last,
          :label => false
    %dl
      %dt Prix :
      %dd
        = f.input :price, :label => false, :input_html => {:size => 4}
    %dl
      %dt
      %dd
        = f.button :submit    