
.main
  = render "tools/header", :selected_item => "templitems"
  
  .section

    %table.ligne
      %tr
        %th Position
        %th Dénomination
        %th Montant
      - Templitem.order(:pos).all.each do |item|
        %tr
          %td.mono_droite
            = item.pos
          %td
            = item.name
          %td.mono_droite
            - if item.kind == 1
              = to_euro(item.price)
            - elsif item.kind == 2
              = to_percent(item.price)
          %td.manage_link
            = link_to "⊙", templitem_path(item.id)

    %hr.intrasection_top_liens
            
    .liens_intrasection
      = link_to "✯ new", new_templitem_path
              
    %hr.intrasection_bottom_liens

        
  