
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'evitems'


  .section
    = render 'list_evitems'

    - if params[:mode] == 'edit'
      %hr.intrasection
      = render 'form'
      %hr.intrasection_top_liens
    - else
      %hr.intrasection_top_liens

    .liens_intrasection
      - unless params[:mode] == 'edit'
        = link_to '⇇ back', event_overview_path(@event)
        |
        = link_to '⚙ manage', event_evitems_path(params[:event_id], :mode => 'edit')
      - else
        = link_to '⇇ back', event_evitems_path
        - if params[:evitem_id].present?
          |
          = link_to '✯ new (clear)', event_evitems_path(:mode => 'edit')
          
    %hr.intrasection_bottom_liens