= simple_form_for @volo do |f|

  .dl_deux_colonnes_base
    %dl
      %dt Prénom :
      %dd= f.input :first_name, :input_html => { :size => 16 }, :label => false
    %dl
      %dt Nom :
      %dd= f.input :last_name, :input_html => { :size => 16 }, :label => false
    %dl
      %dt Actif :
      %dd= f.input :actif, :label => false
    %dl
      %dt Entité CR :
      %td= f.association :crentite, :label => false
    %dl
      %dt Date de naissance :
      %td= f.input :birth_date,                       |
                   :start_year => Date.today.year-80, |
                   :end_year => Date.today.year-1,    |
                   :order => [:day, :month, :year],   |
                   :label => false,                   |
                   :as => :date,                      |
                   :include_blank => true             |
    %dl
      %dt Date d'entrée :
      %td= f.input :local_date,                       |
                   :start_year => Date.today.year-80, |
                   :end_year => Date.today.year,      |
                   :order => [:day, :month, :year],   |
                   :label => false,                   |
                   :as => :date,                      |
                   :include_blank => true             |
    %dl
      %dt Commentaire
      %dd= f.input :comment, :label => false
    %dl
      %dt
      %dd= f.submit