= simple_form_for @dispositif do |f|
  .dl_deux_colonnes_base
    %dl
      %dt Position :
      %dd
        = f.input :pos,
                  :label => false
    %dl
      %dt Dénomination :
      %dd
        = f.input :name,
                  :label => false
    %dl
      %dt Image ×16 :
      %dd
        = f.input :image_file_s1,
                  :as => :file,
                  :label => false
    %dl
      %dt Image ×32 :
      %dd
        = f.input :image_file_s2,
                  :as => :file,
                  :label => false
    %dl
      %dt Image ×64 :
      %dd
        = f.input :image_file_s4,
                  :as => :file,
                  :label => false
    %dl
      %dt
      %dd
        = f.submit