= simple_form_for @dispositif do |f|
  = f.input :pos
  = f.input :name
  = f.input :image_file_s1, :as => :file
  = f.input :image_file_s2, :as => :file
  = f.input :image_file_s4, :as => :file
  = f.submit
  