
.main
  = render "tools/header", :selected_item => "dispositifs"
  
  .section
    .dl_deux_colonnes_base
      %dl
        %dt Position :
        %dd= @dispositif.pos
      %dl
        %dt Dénomination :
        %dd= @dispositif.name
      %dl
        %dt Image ×16 :
        %dd
          = image_tag("/dispositifs/code_image_s1/#{@dispositif.id}", :alt => "☒")
      %dl
        %dt Image ×32 :
        %dd
          = image_tag("/dispositifs/code_image_s2/#{@dispositif.id}", :alt => "☒")
      %dl
        %dt Image ×64 :
        %dd
          = image_tag("/dispositifs/code_image_s4/#{@dispositif.id}", :alt => "☒")
        
    %hr.intrasection

    .lien_bas_de_page
      ➤
      = link_to 'Edit', edit_dispositif_path(@dispositif.id)
      |
      = link_to 'Destroy', dispositif_path(@dispositif.id), :method => :delete
      |
      = link_to 'Back', dispositifs_path