
.main
  = render 'tools/header', :selected_item => 'dispositifs'
  
  .section
  
    %dl
      %dt Position :
      %dd= @dispositif.pos
    %dl
      %dt Dénomination :
      %dd= @dispositif.name
    %dl
      %dt Image_s1:
      %dd
        = image_tag("/dispositifs/code_image_s1/#{@dispositif.id}", :alt => "☒")
    %dl
      %dt Image_s2:
      %dd
        = image_tag("/dispositifs/code_image_s2/#{@dispositif.id}", :alt => "☒")
    %dl
      %dt Image_s4:
      %dd
        = image_tag("/dispositifs/code_image_s4/#{@dispositif.id}", :alt => "☒")

    .lien_bas_de_page
      >
      = link_to 'Edit', edit_dispositif_path(@dispositif.id)
      |
      = link_to 'Destroy', dispositif_path(@dispositif.id), :method => :delete
      |
      = link_to 'Back', dispositifs_path