:ruby
  # remplir les champs avec les données du template_invoiced_item_id si passé en paramètre
  t_id = params[:templitem_id]
  if t_id.present?
    template        = Templitem.find(t_id)
    item            = Seritem.new
    item.name       = template.name
    item.kind       = template.kind
    item.price      = template.price
    item.service_id = @service.id
    seritem         = item
  end

%table.formulaire
  %tr
    %th
      %i
        Template :
    %td{ :colspan => '5' }
      %form{ :method => :get }
        %select{ :name => :templitem_id }
          %option{ :value => '' }
          = Templitem.all.each do |item|
            - selected = ( ( t_id.present? && template.pos == item.pos ) ? 'selected' : nil )
            %option{ :value => item.id, :selected => selected }
              = item.name
        %input{ :type => :hidden, :name => 'mode', :value => 'edit' }
        %input{ :type => :submit, :value => 'Use' }
  = simple_form_for ([@event, @service, seritem ||= @seritem ||= Seritem.new ]) do |f|
    %tr
      %th
        Name :
      %td{ :colspan => '5' }
        = f.input :name, :label => false
    %tr
      %th
        Quantity :
      %td
        = f.input :qty, :label => false, :input_html => {:size => 2}
      %th
        Kind :
      %td
        = f.input :kind,
            :as => :radio,
            :collection => [['€', 1], ['%', 2]],
            :label_method => :first,
            :value_method => :last,
            :label => false
      %td{ :class => 'form_gauche' }
        Price :
      %td
        = f.input :price, :label => false, :input_html => {:size => 4} 
    %tr
      %td
      %th
        = f.button :submit    