- mode = params[:mode]
- table = table_service_seritems(@service.id)

.table_invoiced_items
  %table
    %tr
      %th Name
      %th Qty
      %th Price
      %th Total
    - table.each  do |ligne|
      %tr
        %td= ligne[1]
        %td{:align => :right}= ligne[2]
        %td{:align => :right}= ligne[3]
        %td{:align => :right}= ligne[4]
        - if ligne[0] && mode == 'edit'
          %td= button_to '↑↑', :action => :move_up, :id=>ligne[0]
          =#%td= button_to '↑↑', seritem_move_up_path(:id=>ligne[0])
          %td= button_to '↓↓', :action => :move_down, :id=>ligne[0]
          %td= link_to 'edit', event_service_seritems_path(params[:event_id], params[:service_id], { :mode => "edit", :seritem_id => ligne[0] } )
          %td= button_to "×", { :action => :destroy, :id => ligne[0] }, :method => :delete