
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'seritems'

  .section
    = render "table"
    %hr.intrasection

    - if params[:mode] == 'edit'
      = render "form"

  .lien_bas_de_page
    - unless params[:mode] == 'edit'
      â¤
      = link_to "Manage", event_service_seritems_path(:mode => "edit")
      |
      = link_to "Back", event_service_overview_path(@event, @service)
    - else
      >
      = link_to 'Back', event_service_seritems_path
      - if params[:seritem_id].present?
        |
        = link_to 'Clear (create new)', event_service_seritems_path(:mode => 'edit')