= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'seritems'

  .section
    = render 'table'

    - if params[:mode] == 'edit'
      %hr.intrasection
      = render 'form'
      %hr.intrasection_top_liens
    - else
      %hr.intrasection_top_liens

    .liens_intrasection
      - unless params[:mode] == 'edit'
        = link_to '⇇ back', event_service_overview_path(@event, @service)
        |
        = link_to '⚙ manage', event_service_seritems_path(:mode => 'edit')
      - else
        = link_to '⇇ back', event_service_seritems_path
        - if params[:seritem_id].present?
          |
          = link_to '✯ new (clear)', event_service_seritems_path(:mode => 'edit')
          
    %hr.intrasection_bottom_liens