= render 'events/header', :selected_item => 'services'
= render 'services/header', :selected_item => 'seritems'

= render 'list_seritems'
%hr
= render 'form'
%hr
= link_to 'Back', event_service_seritems_path(params[:event_id], params[:service_id])