:ruby
  heures_from_début_to_fin = Array.new
  deb = @service.début
  fin = @service.ends_at
  while deb <= fin
    duo = Array.new
    case deb
      when @service.depart_at
        duo << deb.to_s(:cust_jtime) + " / départ"
      when @service.surplace_at
        duo << deb.to_s(:cust_jtime) + " / sur place"
      when @service.starts_at
        duo << deb.to_s(:cust_jtime) + " / opérationnel"
      else
        duo << deb.to_s(:cust_jtime)
    end
      
    duo << deb
    heures_from_début_to_fin << duo
    deb += 5*60
  end


= simple_form_for ([@event, @service, @servolo ||= Servolo.new ]) do |f|
  = f.input :service_id, :input_html => { :value => params[:service_id] }, :as => :hidden
  %table.formulaire
    %tr
      %td
        %table{:style => 'border-collapse: collapse' }
          %tr
            %th{ :style => 'text-align: left' }
              Volontaire :
          %tr
            %td
              = f.association :volo,                                                    |
                :collection => Volo.only_actif.only_crentite(4).by_first_name.all       |
                + Volo.only_actif.only_not_crentite(4).by_first_name.all,               |
                :input_html => { :size => 8 }, :include_blank => false, :label => false |
      %td{ :valign => 'top' }
        %table
          %tr
            %th
              De :
            %td
              = f.input :starts_at,
                        :collection => heures_from_début_to_fin,
                        :selected => @servolo.starts_at ||= @service.début,
                        :include_blank => false,                        
                        :label => false
          %tr
            %th
              À :
            %td
              = f.input :ends_at,
                        :collection => heures_from_début_to_fin,
                        :selected => @servolo.ends_at ||= @service.ends_at,
                        :include_blank => false,
                        :label => false
          %tr
            %th
              Rendez-vous :
            %td
              = f.input :rendezvous,
                        :as => :radio,
                        :collection => [['Départ', 1], ['Sur place', 2]],
                        :label_method => :first,
                        :value_method => :last,
                        :label => false
          %tr
            %td{ :colspan => 3, :align => "right" }
              = f.submit