%table
  %tr
    %th First_name
    %th Last_name
    %th Fromto
  - @servolos.each do |servolo|
    %tr
      %td= servolo.volo.first_name
      %td= servolo.volo.last_name
      %td= servolo.fromto
      %td
      - if params[:mode] == 'edit'
        %td= link_to 'edit', event_service_servolos_path(:servolo_id => servolo.id, :mode => 'edit')
        %td= link_to "remove", { :action => :destroy, :id => servolo.id }, :method => :delete
