
- unless @service.servolos.empty?

  %table.ligne
    %tr
      %th Prénom Nom
      %th Horaire
      %th RV
    - @service.servolos.by_first_name.each do |servolo|
      %tr{:style => (params[:mode]=="edit" && @servolo && @servolo.id==servolo.id)?"font-weight:bold":nil}
        %td
          = servolo.volo.full_name
        %td
          = servolo.fromto
        %td
          = servolo.rendezvous_to_s
        - if params[:mode] == "edit"
          %td.manage_link{:title => "edit"}= link_to "⊚", event_service_servolos_path(:servolo_id => servolo.id, :mode => 'edit')
          %td.manage_link{:title => "delete"}= link_to "⊗", { :action => :destroy, :id => servolo.id }, :method => :delete

- else
  %i ─ aucun volontaire ─