
= render 'events/list'

.main
  = render 'events/header', :selected_item => 'services'
  = render 'services/header', :selected_item => 'servolos'

  .section
    = render "graph"
    %hr.intrasection_light
  
    - if params[:mode] == 'edit'
      %table{:style => "width: 100%; vertical-align: top"}
        %tr
          %td{:style => "vertical-align: top"}
            = render "table"
            %hr.intrasection
          %td{:style => "vertical-align: top"}
            = render "form"
            %hr.intrasection_top_liens
            .liens_intrasection
              = link_to "⇇ back", event_service_servolos_path
              - if params[:servolo_id].present?
                |        
                = link_to "✯ new", event_service_servolos_path(:mode => 'edit')
            %hr.intrasection_bottom_liens
      
    - else
        
      = render "table"
      
      %hr.intrasection_top_liens
      
      .liens_intrasection
        = link_to "⇇ back", event_service_overview_path(@event, @service)
        |
        = link_to "⚙ manage", event_service_servolos_path(:mode =>'edit')

      %hr.intrasection_bottom_liens
