
%p{:style => "position: absolute; right: 0%; top: 0%; margin: 0; padding: 0" }

  %img{ :src => "/icons/logo_91-32.png", :alt => "Croix-Rouge de Belgische Rode Kruis" }


.menu{:style => "width: 75%"}
  %ul
    - active = controller_name == 'home' ? :active : nil
    %li= link_to 'Home', home_path, :class => active

    - active = controller_name == 'events'   |
	      || controller_name == 'evitems'      |
	      || controller_name == 'services'     |
        || controller_name == 'seritems'     |
        || controller_name == 'refacs'       |
        || controller_name == 'servolos'     |
        || controller_name == 'disposers'    |
	      ? :active : nil                      |
    %li= link_to 'Événements', events_path, :class => active

    - active = controller_name == 'volos'    |
        ? :active : nil                      |
    %li= link_to 'Volontaires', volos_path, :class => active

    - active = controller_name == 'invoices' |
        || controller_name == 'nositems'     |
        ? :active : nil                      |
    %li= link_to 'Factures', invoices_path, :class => active
    
    - active = controller_name == 'tools'    |
        || controller_name == 'customers'    |
        || controller_name == 'dispositifs'  |
        || controller_name == 'templitems'   |
        || controller_name == 'crentites'    |
        ? :active : nil                      |
    %li= link_to 'Outils', tools_path, :class => active